<div class="content-manage-wrapper">
  <h1>Add a new gallery item:</h1>
  <%= simple_form_for @gallery_item, html: { enctype: 'multipart/form-data' } do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.input :description %>
  <%= f.button :submit, class: "button-primary" %>
<% end %>
  <br>
  <%= link_to "Back to admin homepage", cms_path %>
</div>
