<div class="content-manage-wrapper" data-controller="cms-toggle">
  <h1>Hi Colin, Welcome to the content management page for the website</h1>
  <p>This section allows you to update the website with whatever content you wish to add. You can use it add new gallery items, reviews, brands, materials, staff members and requirements for the quote builder. It might be worth letting me know if you plan to update the latter as it might break it.</p>

  <div class="cms-section-tab">
    <ul class="cms-section-tab-list">
      <li class="cms-header-gallery-items selected-cms-header" data-action="click->cms-toggle#gallery">Gallery items</li>
      <li class="cms-header-testimonials" data-action="click->cms-toggle#testimonials">Testimonials</li>
      <li class="cms-header-brands" data-action="click->cms-toggle#brands">Brands</li>
      <li class="cms-header-materials" data-action="click->cms-toggle#materials">Materials</li>
      <li class="cms-header-staff" data-action="click->cms-toggle#staff">Staff members</li>
      <li class="cms-header-requirements" data-action="click->cms-toggle#requirements">Requirements</li>
    </ul>
  </div>

  <div class="gallery-cms active-materials-section" data-cms-toggle-target="gallery">
  <h3>Gallery items</h3>
  <%= link_to "ADD NEW GALLERY ITEM", new_gallery_item_path %>
  <br>
  <p>Or select an existing gallery item that you wish to amend or delete:</p>
  <br>
    <% @gallery_items.each do |item| %>
      <div class="review-item">
        <%= image_tag url_for(item.photo), class:"gallery-tile", alt: "Gallery item photo" if item.photo.attached? %>
        <%= link_to "Update or delete", gallery_item_path(item) %>
      </div>
      <br>
    <% end %>
  </div>

  <div class="review-cms hidden-cms" data-cms-toggle-target="testimonials">
  <h3>Testimonials</h3>
  <%= link_to "ADD NEW TESTIMONIAL", new_review_path %>
  <br>
  <p>Or select an existing testimonial that you wish to amend or delete:</p>
  <br>
    <% @reviews.each do |review| %>
    <div class="review-item">
    <p><%= review.description %></p>
    <p>- <%= review.name %></p>
    <%= link_to "Update or delete", review_path(review) %>
    </div>
    <br>
    <br>
    <% end %>
  </div>

  <div class="brands-cms hidden-cms" data-cms-toggle-target="brands">
   <h3>Brands</h3>
   <p>I have not enabled the functionality to remove a brand entirely as this will remove all of the materials that belong to it. You can still delete all the indivitual materials though.</p>
    <% @brands.each do |brand| %>
    <div class="review-item">
    <%= image_tag("#{brand.logo}") %>
    <p><%= brand.name %></p>
    </div>
    <br>
    <br>
    <% end %>
  </div>

   <div class="materials-cms hidden-cms" data-cms-toggle-target="materials">
  <h3>Materials</h3>
  <%= link_to "ADD NEW MATERIAL", new_material_path %>
  <br>
  <p>Or select an existing testimonial that you wish to amend or delete:</p>
  <br>
    <% @materials.each do |material| %>
    <div class="review-item">
    <%= image_tag url_for(material.photo), class: "materials-tile", alt: "Material tile photo" if material.photo.attached? rescue nil %>
    <p>- <%= material.name %></p>
    <%= link_to "Update or delete", material_path(material) %>
    </div>
    <br>
    <br>
    <% end %>
  </div>

   <div class="staff-cms hidden-cms" data-cms-toggle-target="staff">
   <h3>Staff members</h3>
  </div>

   <div class="requirements-cms hidden-cms" data-cms-toggle-target="requirements">
   <h3>Requirements</h3>
  </div>

</div>
