<%= render "shared/banner" %>
<div class="home-about-section" data-controller="icon" data-action="scroll@window->icon#iconAnimateHourglassBottom">
  <h3 class="home-header">About us</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 home-icon-with-text">
          <div>
            <i class="fa-solid fa-location-dot fa-3x home-icons"></i>
            <h3 class="home-subheaders">Local craftsmen</h3>
            <p class="icon-text">A <strong>family-run business</strong>, fitting kitchens throughout Manchester and the Northwest.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 home-icon-with-text">
          <div>
                <i class="fa-sharp fa-solid fa-award fa-3x home-icons"></i>
                <h3 class="home-subheaders">Quality materials</h3>
                <p class="icon-text">We use <strong>only the finest</strong> granite, marble and quartz. Choose from a wide range of styles, lengths and profiles to suit your style and budget.</p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 home-icon-with-text">
          <div>
            <div class="stamp-icon home-icons">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485 588.88"><g id="main"><path d="M323.55,179.29c0-15.46,8.71-29.5,18.85-41.76a81.84,81.84,0,0,0,19-52.24C361.44,38.2,320.71,0,270.5,0s-90.94,38.2-90.94,85.29a81.84,81.84,0,0,0,19,52.24c10.14,12.26,18.85,26.3,18.85,41.76,0,26.57-23,48.16-51.34,48.16h-32C75.46,227.45,28,272,28,327c0,18.57,12.69,34.39,30.31,40.25v45c0,23.55,20.37,42.65,45.47,42.65H437.22c25.1,0,45.47-19.1,45.47-42.65v-45C500.31,361.34,513,345.52,513,327c0-55-47.46-99.5-106.09-99.5h-32C346.57,227.45,323.55,205.86,323.55,179.29ZM422.06,369.6V398H118.94V369.6Z" transform="translate(-28)"/></g><g id="ink"><ellipse cx="252" cy="561.03" rx="222.69" ry="27.84"/></g></svg>
                <%# <i class="fa-solid fa-stamp fa-3x home-icons"></i> %>
            </div>
                <h3 class="home-subheaders">Trusted industry-wide</h3>
                <p class="icon-text">An <strong>approved supplier and fabricator</strong> for all brands of quartz including Silestone, Caesarstone, Samsung, Tecnistone and Cimstone.</p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 home-icon-with-text">
            <div>
                <div class="hourglass-icon home-icons">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.1 512">
                    <defs>
                      <style>.cls-1{fill:#0a1045;}</style>
                    </defs>
                    <g id="main-hourglass"><path class="cls-1" d="M0,32A32,32,0,0,1,32,0H352a32,32,0,0,1,0,64V75a160,160,0,0,1-46.9,113.1L237.3,256l67.9,67.9A160,160,0,0,1,352.1,437v11a32,32,0,0,1,0,64H32a32,32,0,0,1,0-64V437A160,160,0,0,1,78.9,323.9L146.7,256,78.9,188.1A160,160,0,0,1,32,75V64A32,32,0,0,1,0,32ZM96,64V75a96,96,0,0,0,28.1,67.9L192,210.7l67.9-67.9A96,96,0,0,0,288,74.9V64Zm0,384H288V437a96,96,0,0,0-28.1-67.9L192,301.3l-67.9,67.9A96,96,0,0,0,96,437.1V448Z" transform="translate(0 0)"/></g><g id="top-hourglass" data-action="scroll@window->icon#iconAnimateHourglassTop" data-icon-target="hourglass-top"><rect class="cls-1" x="100" y="90" width="190" height="120"/></g><g id="bottom-hourglass" data-icon-target="hourglass-bottom"><rect class="cls-1" x="82" y="500" width="225" height="80"/></g>
                  </svg>
                </div>
                <h3 class="home-subheaders">A wealth of experience</h3>
                <p class="icon-text"><strong>Over 20 years' experience</strong> installing kitchen work tops and fitting kitchens. We have worked on both
commercial and domestic projects.</p>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="home-testimonial-section" data-controller="carousel">
  <h3 class="home-header">Testimonials</h3>
 <div class=total-carousel-wrap>
    <div class="carousel-container">
      <button class = "carousel-arrow carousel-arrow-left" data-action="click->carousel#left"><i class="fa-solid fa-chevron-left fa-2xl"></i></button>
        <div class="carousel-track-wrapper">
          <ul class="carousel-track">
                <li class="carousel-slide corousel-one active-slide" data-carousel-target="slideone">
                  <div class="review-text">
                    <p>"<%= @reviews.first.description %>"</p>
                    <p> - <%= @reviews.first.name %></p>
                  </div>
                </li>
              <li class="carousel-slide carousel-two hide-carousel" data-carousel-target="slidetwo">
                <div class="review-text">
                    <p>"<%= @reviews.second.description %>"</p>
                    <p> - <%= @reviews.second.name %></p>
                </div>
              </li>
              <li class="carousel-slide carousel-three hide-carousel" data-carousel-target="slidethree">
                <div class="review-text">
                    <p>"<%= @reviews.third.description %>"</p>
                    <p> - <%= @reviews.third.name %></p>
                </div>
              </li>
          </ul>
        </div>
      <button class = "carousel-arrow carousel-arrow-right" data-action="click->carousel#right"><i class="fa-solid fa-chevron-right fa-2xl"></i></button>
    </div>
    <div class="carousel-nav">
        <button class="carousel-indicator indicator-one active-indicator" data-action="click->carousel#indicatorOne" data-carousel-target="indicatorone"></button>
        <button class="carousel-indicator indicator-two" data-action="click->carousel#indicatorTwo" data-carousel-target="indicatortwo"></button>
        <button class="carousel-indicator indicator-three" data-action="click->carousel#indicatorThree" data-carousel-target="indicatorthree"></button>
      </div>
  </div>
</div>

<div class="home-team-section">
  <h3 class="home-header">Meet the team</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 home-icon-with-text">
          <div>
            <div class="avatar-home" style="background-image:url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png)"></div>
            <h3 class="home-subheaders team-names">Colin Gillan</h3>
            <p class="team-text">Founder and CEO</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 home-icon-with-text">
          <div>
                <div class="avatar-home" style="background-image:url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png)"></div>
                <h3 class="home-subheaders team-names">Ethan Gillan</h3>
                <p class="team-text">Job title</p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 home-icon-with-text">
          <div>
                <div class="avatar-home" style="background-image:url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png)"></div>
                <h3 class="home-subheaders team-names">Joe Bloggs</h3>
                <p class="team-text">Job title</p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 home-icon-with-text">
            <div>
                <div class="avatar-home" style="background-image:url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png)"></div>
                <h3 class="home-subheaders team-names">Tom Smith</h3>
                <p class="team-text">Job title</p>
          </div>
      </div>
    </div>
  </div>
</div>
